# Format: //devtools/kokoro/config/proto/build.proto

build_file: "github/data-manager-java/.kokoro/release.sh"

before_action {
  fetch_keystore {
    keystore_resource {
      keystore_config_id: 74347
      keyname: "google_ads_java_gpg_secring"
    }
  }
}
